/* home work */
/* 
.screen-header__icons {
    position: relative;
}

.screen-header__icons-cog-point {
    display: block;
    background-color: tomato;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    left: 73px;
    bottom: 16px;
}
*/
